# Important Requirements here.
telethon
requests
psutil
python-dotenv

# Important Requirements (Set-2)

heroku3
pyrogram==1.0.7
telethon
pyromod
tgcrypto
requests
Pillow
sqlalchemy~=1.3.23
psycopg2-binary
feedparser
